<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EATELICIOUS</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <h1>Who's Hungry??</h1>
    <div class="navbar">
      <div class="link"><a href="/home">Home</a></div>
      <div class="link"><a href="/parties/new">Add a New Party</a></div>
      <div class="link"><a href="/foods/new">Add a New Food</a></div>
      <div class="link"><a href="/parties">See All Parties</a></div>
      <div class="link"><a href="/foods">See All Foods</a></div>
    </div>
    <%= yield %>
</body>
</html>

